<h2>DRX Linux - IP Management</h2>
<%= render :partial => "navigation" %>
<%# render :partial => "search" %>
<p><%= link_to "create new ip subnet", :action => "newsub" %></p>
<hr>
<table class="list_table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>IP Start</th>
      <th>IP End</th>
      <th>IP Mask</th>
      <th>Gateway</th>
      <th>DHCP Start IP</th>
      <th>DHCP End IP</th>
      <th>Location</th>
      <th>created at</th>
      <th>updated at</th>
      <th></th>
  </thead>
  <% @ipsubs.each do |subnet| %>
      <td><%= link_to subnet.id, :action => "showsub", :id => subnet.id %></td>
      <td><%= h subnet.name %> </td>
      <td><%= h subnet.ip_start %> </td>
      <td><%= h subnet.ip_end %> </td>
      <td><%= h subnet.mask %> </td>
      <td><%= h subnet.gateway %> </td>
      <td><%= h subnet.dhcp_start %> </td>
      <td><%= h subnet.dhcp_end %> </td>
      <td><%= h subnet.location %> </td>
      <td><%= h subnet.created_at %> </td>
      <td><%= h subnet.updated_at %> </td>
      <td><%= link_to "edit", :action => "editsub", :id => subnet.id %></td>
    </tr>
<% end %>
</table>

