<% @title = "IP subnet details "%>
<h2>IP details for <%= @ipsubs.name %> </h2>
<div class=navigation"><%= bttn_back_to_index %><%= bttn_edit_sub %><%= nav_end %></div>
  <div class="item_label">Name</div><div class="content"><%= h @ipsubs.name %></div>
  <div class="item_label">Start IP</div><div class="content"><%= h @ipsubs.ip_start %></div>
  <div class="item_label">End IP</div><div class="content"><%= h @ipsubs.ip_end %></div>
  <div class="item_label">IP class</div><div class="content"> <%= h @ipsubs.ip_class %> </div>
  <div class="item_label">Mask</div><div class="content"> <%= h @ipsubs.mask %></div>
  <div class="item_label">Gateway</div><div class="content"><%= h @ipsubs.gateway %></div>
  <div class="item_label">DCHP Start IP</div><div class="content"><%= h @ipsubs.dhcp_start %></div>
  <div class="item_label">DHCP End IP</div><div class="content"><%= h @ipsubs.dhcp_end %></div>
<div class="item_label">Location</div><div class="content"><%= h @ipsubs.location %></div>
  <div class="item_label">created at</div><div class="content"><%= h @ipsubs.created_at %></div>
  <div class="item_label">updated at</div><div class="content"><%= h @ipsubs.updated_at %></div>
<p><%= link_to "Übersicht", :action => "listsub" %></p>
