<h2>DRX Linux - IP Management</h2>
<%= render :partial => "navigation" %>
<div class="subnavigation">
<div class="nav_button"><%= link_to "create new ip", :action => "new" %></div>
</div>
<div class="options">
  <div class="opt_element"><%= render :partial => "search" %></div>
<%# render :partial => "showonly" %>
<div class="opt_element"><%= render :partial => "discovernet" %></div>
<hr>
</div>
<div class="content2">
<table class="list_table">
  <thead>
    <tr>
      <th>ID</th>
      <th>IP Address</th>
      <th>Hostname</th>
      <th>IP Subnet</th>
      <th>Type</th>
      <th>comment</th>
      <th>created at</th>
      <th>updated at</th>
      <th>&nbsp;&nbsp;</th>
    </tr>
  </thead>
  <% @ips.each do |ip| %>
    <tr onclick="HideMenu('list_contextmenu');" oncontextmenu="ShowMenu('list_contextmenu',event); return false" >
      <td><%= link_to ip.id, :action => "show", :id => ip.id %></td>
      <td><%= ip.address %> </td>
      <td><%= ip.hostname %> </td>
      <td><%= ip.subnet %> </td>
         <% case ip.iptype
        when "used"%>
         <td class="list_iptype_used">
    <%  when "reserved" %>
         <td class="list_iptype_reserved">
    <%  when "free" %>
         <td class="list_iptype_free">
    <% else %>
        <td>
    <% end %><%= ip.iptype %> </td>
      <td><%= ip.comment %> </td>
      <td><%= ip.created_at %> </td>
      <td><%= ip.updated_at %> </td>
      <td><%= link_to "edit", :action => "edit", :id => ip.id %></td>
    </tr>
<% end %>
</table>
</div>
<div style="display:none; " id="list_contextmenu">
  <table border="0" cellpadding="0" cellspacing="0" style="broder: thin solid #FFFFFF; cursor: default; width: 100px;" >
    <tr>
      <td class="list_contextitem">view</td>
    </tr>
    <tr>
      <td class="list_contextitem">edit</td>
    </tr>
  </table>
</div>

