<% @title = "neue IP anlegen" %>
<h2>create new IP entry</h2>
<% form_for :ipaddress, :url => {:action => "create"} do |f| %>
  <p>
    <div class="item_label"for="ipaddress_hostname">Hostname</div>
    <%= f.text_field :hostname %>
  </p>
  <p>
    <div class="item_label"for="ipaddress_address">IP Address</div>
    <%= f.text_field :address %>
  </p>
  <p>
    <div class="item_label"for="ipaddress_subnet">IP subnet</div>
    <%= f.text_field :subnet %>
  </p>
  <p>
    <div class="item_label"for="ipaddress_type">type</div>
    <%= f.text_field :iptype %>
  </p>
  <p>
    <div class="item_label"for="ipaddress_comment">comment</div>
    <%= f.text_field :comment %>
  </p>
  <p> <%= submit_tag "save" %>
<% end %>
<p><%= link_to "Übersicht", :action => "index" %></p>
